.TransactionCard {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border-bottom: 2px solid #c0c0c0;
    padding-bottom: 10px;
}
.TransactionCard:last-child {
    margin-bottom: 0;
    border-bottom: none;
}