.box {
    display: flex;
    /*max-width: 600px;*/
    /*margin: 0 auto;*/
    height: 100%;
    /*padding: 0 20px;*/
    /*padding-bottom: 155px;*/
    /*padding-bottom: 210px;*/
    flex-grow: 1;
    /*overflow: auto;*/
    /*padding-top: 75px;*/
    flex-direction: column;
}



.box--menu {
    padding-bottom: 95px;
}
.box--yummy{
    padding-bottom: 165px;
}

.box--center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box--desktop {
    padding-bottom: 45px;
}

/*.container {*/
/*    padding: 10px 20px;*/
/*}*/

.container {
    /*height: 100%;*/
    width: 100%;
    padding: 10px 20px;
    /*overflow: auto;*/
}
.container--header {

}
.container--wrapper {
    /*padding: 10px;*/
    position: relative;
    z-index: 3;
}

.container--scrollable {
    height: 100%;
    padding: 0;
}
.box--horizontal-center {
    align-items: center;
}
.box--container {
    padding: 0 20px;
    padding-bottom: 30px;
}
.box--scroll {
    overflow-y: auto;
}

@media (min-width:770px){
    .container--scrollable {
        /*padding: 10px;*/
        overflow: auto;
        padding-top: 80px;
    }
}
@media (max-width:770px){
    .box--navbar {
        padding-top: 78px;
    }
}
